<div id="newexpense" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <%= form_for @transaction, url: {action: "create"}, html: {class: "modal-content"} do |tr| %>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Gasto Nuevo</h4>
      </div>
      
      <div class="modal-body">
        <%= label_tag :type_id, "Tipo:" %>
        <% type_options = Array.new() %>
        <% @types.each do |t| %>
          <% temp = Array.new() %>
          <% temp.push t.typename,t.id %>
          <% type_options.push temp %>
        <% end %>
        <%= select_tag :type_id, options_for_select(type_options) %>

        <%= label_tag :date, "Fecha:" %>
        <%= date_field_tag :date,  Date.today %>

        <%= label_tag :concept, "Concepto:" %>
        <%= text_field_tag :concept %>
        
        <%= label_tag :category_id, "Categoría:" %>
        <% cat_options = Array.new() %>
        <% @categories.each do |c| %>
          <% temp = Array.new() %>
          <% temp.push c.catname,c.id %>
          <% cat_options.push temp %>
        <% end %>
        <%= select_tag :category_id, options_for_select(cat_options) %>
        
        <%= label_tag :amount, "Valor:" %>
        <%= number_field_tag :amount, 0 %>
        
      </div>
          
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <%= submit_tag("Crear Gasto") %>
      </div>
    <% end %>
      
  </div>
</div>